*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

.grid--wrapper {
    display: block;
    flex-direction: column;
    place-content: flex-start center;
    position: relative;
    top: 0;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    scroll-snap-type: y proximity;

}

.sixt-blox {
    width: clamp(800px, 100%, 99vw);
    height: fit-content;
    margin: -5px 0;
    scroll-snap-align: start;
    scroll-margin: 200px 0 0 0;
}

.sixt-blox-img {
    width: 100%;
    height: auto;
}

.sixt-blox-hidden {
    display: none;
}

#sixt-blox-1 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    z-index: 20;
}

#smallheader {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
#largeheader {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

#sb-arr-wrapper {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;

    z-index: 50;
    background-color: none;
}

#scroll-link1 {
    position: absolute;
    top: -50px;
    left: 20%;
}

#scroll-link2 {
    position: absolute;
    top: -50px;
    right: 20%;
}

.sixt-blox-slider {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

.sixt-blox-slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    transition: all 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.sixt-blox-slide.active {
    opacity: 1;
    left: 0;
}

.sixt-blox-slide.prev {
    left: 100%;
}

.sixt-blox-slide.next {
    left: -100%;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
