*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

body, html {
    width: 100%;
    height: 100%;
}

a {
    position: absolute;
    right: 80px;
    bottom: 50px;
}

img.sixt-blox {
    width: clamp(800px, 100%, 99vw);
    width:100%;
    height: auto;
}

.grid--wrapper {
    display: flex;
    flex-direction: column;
    place-content: flex-start center;
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.grid--main-container {
    background-color: aqua;
    position: sticky;
    top: 0;
}

.dummy-container {
    height: 20vh;
}

.grid--main2-container {
    background-color: rgb(76, 121, 121);
}


.grid--main3-container {
    background-color: aqua;
}

.grid-item {
    background-color: cadetblue;
    width: clamp(800px, 100%, 100vw);
}